extends baseEmail

block content
    p Hi #{firstName},
    p Forgot password ? Click link to reset #{url}
    p (website for this project is not live yet, so the link will not work)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset password
    p If this email is not meant for you please ignore it.