doctype html
html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700', rel='stylesheet')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
      title Natours | #{title}
  body
    //- Header
    include _header
    //- Main      
    block content

      //- ... (Repeat the card structure for other cards.  See below for a more efficient way)

      // Example of a more efficient way using a loop and data (not shown here, but highly recommended for real projects):
      //- each tour in tours
      //-   div.card
      //-      //- ... (card content using tour data)
      //- Footer
    include _footer
    //- script(src="/js/mapbox.js", type="text/javascript")
    //- script(src="/js/login.js", type="text/javascript") 
    script(src="https://js.paystack.co/v2/inline.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.32.2/minified.js")
    script(src="/js/index.js",  type="module")

